div{
    border-color:black;
    border-width: 2px;
    border-style: solid
}
#dvLista1{
    background-color: yellow;
}
.fundoVermelho{
    background-color: red;
}
.teste1{
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style:dotted;
    background-color: grey;
    width: 50%;
}
.teste2{
    border-style: double;
    border-color: black;
    border-width: 12px;
}

body{
    margin: 0;
    padding:0;
}
#dv1{
    margin: 0;
    padding-left:80px;
}

#dv1 h1{
    margin:20px;
    margin-bottom: 0;
}